@import "colors.sass"

.buttons
  justify-content: center
  border-radius: 9px
  background-color: $not-chose-collection-button-color
  display: flex
  align-items: center

.collection-adding__buttons
  justify-content: center
  display: flex
  gap: 42px
  align-items: center


.kinopoisk-button, .manually-button
  text-align: center
  font-size: 17px
  font-weight: 600
  line-height: 20px
  margin: 3px
  background-color: $not-chose-collection-button-color-lighter
  border: none
  cursor: pointer

.manually-button
  padding: 6px 55px

.chosen-adding-button
  background-color: $chosen-button-color
  border-radius: 9px
  padding: 6px 50px
  box-shadow: 0 3px 1px 0 $box-shadow-first-color, 0 3px 8px 0 $box-shadow-second-color

.search-container
  &__title
    font-size: 22px
    font-weight: 700
    line-height: 20px

.search-container
  width: 560px
  display: flex
  flex-direction: column
  gap: 10px

.search-input__container
  margin: 0

.adding-container-header
  display: flex
  flex-direction: column
  gap: 35px
  width: 462px