@import "colors.sass"

.collection-container
  display: flex
  flex-direction: column
  align-items: center
  padding: 72px 0  111px 0
  gap: 38px

.collection
  &__table
    display: flex
    width: 462px

  &__buttons
    display: flex
    gap: 42px
    align-items: center
    justify-content: flex-end

  &__buttons-container
    display: flex
    justify-content: flex-end


.container-header
  display: flex
  flex-direction: column
  gap: 28px
  width: 462px

.list-item
  display: flex
  flex-direction: column
  position: relative
  gap: 10px

.page-title
  text-align: center
  font-size: 36px
  font-style: normal
  font-weight: 700
  line-height: 41px
  letter-spacing: 0.374px

.left-buttons
  border-radius: 9px
  background-color: $not-chose-collection-button-color
  display: flex
  align-items: center

.first-button , .second-button
  text-align: center
  font-size: 16px
  font-weight: 600
  line-height: 20px
  margin: 3px
  background-color: $not-chose-collection-button-color-lighter
  border: none
  cursor: pointer


.second-button
  padding: 6px 10px

.button-text
  display: flex
  justify-content: center
  width: 157px

.chosen-button
  background-color: $chosen-button-color
  border-radius: 9px
  padding: 6px 12px
  box-shadow: 0 3px 1px 0 $box-shadow-first-color, 0 3px 8px 0 $box-shadow-second-color

.watched-button
  padding: 6px 25px

.item-image
  width: 103px
  height: 160px

.collection-list
  display: flex
  flex-direction: row
  flex-wrap: wrap
  gap: 16px

.item-rating
  color: $agona-blue
  padding: 1px 5px 2px 4px
  font-size: 14px
  font-weight: 600
  line-height: 12px
  overflow: hidden
  background: transparent

.rating-container
  display: inline-block
  position: absolute
  top: 14px
  right: 11px
  border: 3px solid $agona-blue
  background-color: $rating-background
  border-radius: 14px

.item-name
  font-weight: 600
  line-height: 21px
  font-size: 12px
